html {
    height: 100%;
}

body {
    height: 100%;
    background-color: turquoise;
    color: black;
}

.main {
    height: 100%;
}

.social-image{
    width: 30px;
    margin: 15px;
}

h1 {
text-align: center;
}

img {
    width: 450px;
    height: 450px;
    display:flex;
    justify-content: center;
}

p {
    text-align: center;
}

.map {
    display:flex;
    justify-content: center;
}